#date {
    text-align: right;
}

#day, #clock, #greeting {
    font-size: 50px;
    color:goldenrod;
}

#weather {
    font-size: 30px;
    color:darkred;
}

#greeting {
    color: white;
    background-color: tomato;
    margin: 30px;
}

#login {
    text-align: left;
    margin: 20px;
}

#login-id {
    margin: 20px;
    border: none;
    font-size: 30px;
    font-weight: 900;
    background-color: unset;
}

#login-id::placeholder {
    color:indigo;
}

#login-id + input {
    border: none;
    background: purple;
    color: white;
    font-size: 26px;
    border-radius: 20px;
    box-shadow: 2px 2px lightsteelblue;
}

#todo-form {
    width: 200px;
    height: 30px;
    background-color: beige;
    border-radius: 18px;
}

#todo, #todo-form {
    text-align: center;
}

#todo-insert {
    margin: 10px;
    border: none;
    font-size: 10px;
    font-weight: 900;
    background-color: unset;
}

#todo-insert::placeholder {
    background-color: none;
}

#todo-list {
    display: flex;

    color: white;
}

button {
    margin-left: 10px;
}

.hide {
    display: none;
}

ul {
    list-style:none;
}

ul li span {
    background: black;
    padding: 1px;
}