#date {
    text-align: right;
}

#day, #clock, #greeting {
    font-size: 50px;
    color:goldenrod;
}

#weather {
    font-size: 30px;
    color:darkred;
}

#greeting {
    color: white;
    margin: 30px;
}

#login {
    text-align: left;
    margin: 20px;
    display: flex;
    align-items: center;
}

#login-id {
    width: 210px;
    margin: 20px;
    border: none;
    font-size: 30px;
    font-weight: 900;
    background-color: unset;
    color: white;
}

#login-id:focus {
    outline: none;
}

#login-id::placeholder {
    color:indigo;
}


#login-id + input {
    border: none;
    background: purple;
    color: white;
    cursor: pointer;
    font-size: 26px;
    border-radius: 20px;
    box-shadow: 2px 2px lightsteelblue;
}

#todo-css {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#todo-form {
    width: 200px;
    height: 30px;
    background-color: beige;
    border-radius: 18px;
}

#todo, #todo-form {
    text-align: center;
}

#todo-insert {
    margin: 5px;
    border: none;
    font-size: 12px;
    font-weight: 900;
    background-color: unset;
}

#todo-insert:focus {
    outline: none;
}

#todo-insert::placeholder {
    background-color: none;
}

#todo-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    background-color: white;
}

button {
    margin-left: 10px;
}

.hide {
    display: none;
}

ul {
    list-style:none;
}